__pycache__/
*.py[cod]
*$py.class

airflow/logs/
airflow/airflow-webserver.pid
airflow/unittests.cfg
airflow/airflow.db
airflow/airflow.cfg
airflow/Bash scipts
airflow/plugins

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/settings.json
.vscode/launch.json

docker-compose.yml
